/* Default styling */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Home page background */
.home-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #c45959; /* Light background */
  padding: 20px;
}

/* Other pages background */
.default-background {
  background-color: white;
  min-height: 100vh;
  padding: 20px;
}
